@font-face {
    font-family: MontserratEB;
    src: url("MonteserratExtraBold/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

body {
    background-color: #001B2B;
    font-family: 'MontserratEL', sans-serif;
    color: white;
    font-size: 18px;
}

.brandlogo {
    height: 100px;
    margin-top: -23px;
}

.push {
    height: 65px;
}

h1 {
    font-family: 'MontserratEB', sans-serif; 
}

.title {
    font-family: 'MontserratEB', sans-serif;  
    font-weight: bolder;
    font-size: 2em;
}

.celsius {
    color: #FB7612;
    font-size: 2em;
    font-weight: 700;
    /* font-family: 'MontserratEB', sans-serif;  */
}

.hrhidden {
    display: none;
}

hr {
    border-color: #FB7612;
}

.contactmaps {    
    width: 100%;
}

@media only screen and (max-width:767px) {
    .brandlogo {
        height: 70px;
    }
    .hrhidden {
        display: block;
    }
    .push {
        height: 45px;
    }
}



