@font-face {
    font-family: MontserratEB;
    src: url("MonteserratExtraBold/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

/* .gridcontainer {
    display: grid;
    grid-template-columns: 175px 1fr 1fr 175px;
    grid-template-rows: max-content;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-template-areas: 
        ". box1 box2 ."
        ". box3 box4 ."
        ". box5 box6 ."
        ". box7 box8 ."
}

.box1 {
    grid-area: box1;
    border: 3px solid #FB7612;
}

.box2 {
    grid-area: box2;
    background-image: url("./personaladvice.jfif");
    border: 3px solid #FB7612;
}

.box3 {
    grid-area: box3;
    background-image: url("./personaladvice.jfif");
    border: 3px solid #FB7612;
}

.box4 {
    grid-area: box4;
    border: 3px solid #FB7612;
}

.box5 {
    grid-area: box5;
    border: 3px solid #FB7612;
}

.box6 {
    grid-area: box6;
    background-image: url("./personaladvice.jfif");
    border: 3px solid #FB7612;
}

.box7 {
    grid-area: box7;
    background-image: url("./personaladvice.jfif");
    border: 3px solid #FB7612;
}

.box8 {
    grid-area: box8;
    border: 3px solid #FB7612;
} */

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

body {
    background-color: #001B2B;
    font-family: 'MontserratEL', sans-serif;
    color: white;
    font-size: 18px;
}

.brandlogo {
    height: 100px;
    margin-top: -23px;
}

.push {
    height: 65px;
}

h1 {
    font-family: 'MontserratEB', sans-serif; 
}

.celsius {
    color: #FB7612;
    font-family: 'MontserratEB', sans-serif; 
}

hr {
    border-color: #FB7612;
}

.pensioenpresentatieskort {
    display: none;
}

.pensioenaankoopkort {
    display: none;
}

.boxtext {
    max-width: 100%;
    height: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid #FB7612;
}

.boxtext h1 {
    padding: 10px;
}

.boximage {
    width: 100%;
    height: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid #FB7612;
    background-image: url("./dienstenimg.jpg");
}

@media only screen and (max-width:992px) {
    .pensioenpresentaties {
        display: none;
    }
    .pensioenaankoop {
        display: none;
    }
    .pensioenpresentatieskort {
        display: block;
    }
    .pensioenaankoopkort {
        display: block;
    }
}

@media only screen and (max-width:767px) {
    .brandlogo {
        height: 70px;
    }
    .boximage {
        display: none;
    }
    .push {
        height: 45px;
    }
}



