@font-face {
    font-family: MontserratEB;
    src: url("MonteserratExtraBold/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

.row {
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; */
    /* display: flex;
    flex-wrap: wrap; */
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-flex; /* NEW */
    display: flex;
    -webkit-flex-wrap: wrap; /* NEW */
    flex-wrap: wrap;
  }
  .row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }

body {
    background-color: #001B2B;
    font-family: 'MontserratEL', sans-serif;
    color: white;
    font-size: 18px;
}

.brandlogo {
    height: 100px;
    margin-top: -23px;
}

.push {
    height: 65px;
}

h1 {
    font-family: 'MontserratEB', sans-serif; 
}

.celsius {
    color: #FB7612;
    font-family: 'MontserratEB', sans-serif; 
}

hr {
    border-color: #FB7612;
}

.pensioenpresentatieskort {
    display: none;
}

.pensioenaankoopkort {
    display: none;
}

.boxtext {
    max-width: 100%;
    height: 100%;
    border: 3px solid orange;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid #FB7612;
}

.boxtext h1 {
    padding: 10px;
}

.boximage {
    width: 100%;
    height: 100%;
    border: 3px solid orange;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid #FB7612;
    background-image: url("./personaladvice.jfif");
}

@media only screen and (max-width:992px) {
    .pensioenpresentaties {
        display: none;
    }
    .pensioenaankoop {
        display: none;
    }
    .pensioenpresentatieskort {
        display: block;
    }
    .pensioenaankoopkort {
        display: block;
    }
}

@media only screen and (max-width:767px) {
    .brandlogo {
        height: 70px;
    }
    .boximage {
        display: none;
    }
    .push {
        height: 45px;
    }
}



