@font-face {
    font-family: MontserratEB;
    src: url("MonteserratExtraBold/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

.row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-bottom: 20px;
  }

  .row > [class*='col-'] {
    display: flex;
    flex-direction: row;
  }

body {
    background-color: #001B2B;
    font-family: 'MontserratEL', sans-serif;
    color: white;
    font-size: 18px;
}

.brandlogo {
    height: 100px;
    margin-top: -23px;
}

.push {
    height: 65px;
}

h1 {
    font-family: 'MontserratEB', sans-serif; 
}

.pushtitle {
    height: 40px;
}

.title {
    font-family: 'MontserratEB', sans-serif;  
    font-weight: bolder;
    font-size: 2em;
}

.celsius {
    color: #FB7612;
    font-size: 2em;
    font-weight: 700;
    /* font-family: 'MontserratEB', sans-serif;  */
}

.celsiusmarginleft {
    margin-left: 0px;
}

p {
    text-align: justify;
}

hr {
    border-color: #FB7612;
}

.pensioenpresentatieskort {
    display: none;
}

.pensioenaankoopkort {
    display: none;
}

.boxtext {
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #FB7612;
}

.boxtext h1 {
    padding: 10px;
}

.boximage1 {
    background: url("./dienst1.jfif");  
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 3px solid #FB7612;
}

.boximage2 {
    background: url("./dienst2.jfif");
    background-position: bottom right;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 3px solid #FB7612;
}

.boximage3 {
    background: url("./dienst3.jfif");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 3px solid #FB7612;
}

.boximage4 {
    background: url("./dienst4.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border: 3px solid #FB7612;
}

@media only screen and (max-width:1199px) {
    .pensioenpresentaties {
        display: none;
    }
    .pensioenpresentatieskort {
        display: inline-block;
    }
}

@media only screen and (max-width:992px) {
    .pensioenaankoop {
        display: none;
    }
    .pensioenaankoopkort {
        display: inline-block;
    }
    .celsiusmarginleft {
        margin-left: -13px;
    }
}

@media only screen and (max-width:767px) {
    .brandlogo {
        height: 70px;
    }
    div[class*='boximage'] {
        display: none;
    }
    .push {
        height: 45px;
    }
    .row {
        display: block;
    }
}



