@font-face {
    font-family: MontserratEB;
    src: url("MonteserratExtraBold/Montserrat-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: MontserratEL;
    src: url("MonteserratExtraBold/Montserrat-ExtraLight.otf") format("opentype");
}

body {
    background-color: #001B2B;
    font-family: 'MontserratEL', sans-serif;
    color: white;
    font-size: 18px;
}

.brandlogo {
    height: 100px;
    margin-top: -23px;
}

.push {
    height: 65px;
}

.homepagecontent {
    background-image: url("./homepagebg.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

h1 {
    font-family: 'MontserratEB', sans-serif; 
}

.celsius {
    color: #FB7612;
    font-family: 'MontserratEB', sans-serif; 
}

hr {
    border-color: #FB7612;
}

@media only screen and (max-width:767px) {
    .brandlogo {
        height: 70px;
    }
    .homepagecontent {
        height: 100vh;
    }
    .content {
        position: relative;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 0px;
    }   
    .centercontent {
        margin-top: 47px;
    }
    .push {
        height: 45px;
    }
}



